<%= render 'admin/layouts/error_messages', :object => @client %>

<div class="row">
	<div class="col-xs-8">
		<div class="form-group">
			<%= f.label :name, raw("<div class='required'>&#10039;</div>Название") %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-2">
		<div class="form-group">
			<%= f.label :sort_order, "Позиция" %>
			<%= f.text_field :sort_order, class: "form-control" %>
		</div>
	</div>
</div>
<a class="fancybox" href="<%= @client.image.url if @client.image? %>">
	<%= image_tag(@client.image.view_thumbnail.url) if @client.image? %>
</a>
<div class="form-group">
	<%= f.label :image, raw("<div class='required'>&#10039;</div>Изображение") %>
	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %>
</div>

<div class="checkbox">
	<%= f.check_box(:is_published) %>
	<%= label_tag(:clients_is_published, "Публиковать") %>
</div>

<%= f.submit "Сохранить", class: "btn btn-primary" %>

