<%= render 'admin/layouts/error_messages', :object => @service %>
<div class="row">
	<div class="col-xs-8">
		<div class="form-group">
			<%= f.label :header, raw("<div class='required'>&#10039;</div>Заголовок страницы") %>
			<%= f.text_field :header, class: "form-control" %>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
			<%= f.label :permalink, raw("<div class='required'>&#10039;</div>Путь") %>
			<%= f.text_field :permalink, class: "form-control" %>
		</div>
	</div>
</div>
<div class="form-group">
	<%= f.label :title, raw("<div class='required'>&#10039;</div>Заголовок окна") %>
	<%= f.text_field :title, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :logo_class, raw("Класс логотипа") %>
	<%= f.text_field :logo_class, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :body, raw("Описание") %>
	<%= f.text_area :body, class: "form-control summernote_initial" %>
</div>
<div class="form-group">
	<%= f.label :meta_description, raw("META Описание") %>
	<%= f.text_area :meta_description, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :meta_keywords, raw("META Ключевые слова") %>
	<%= f.text_field :meta_keywords, class: "form-control" %>
</div>
<div class="row">
	<div class="col-xs-1">
		<div class="form-group">
			<%= f.label :sort_order, "Позиция" %>
			<%= f.text_field :sort_order, class: "form-control" %>
		</div>
	</div>
</div>

<div class="form-group">
	<a class="fancybox" href="<%= @service.image.url if @service.image? %>">
		<%= image_tag(@service.image.thumb.url) if @service.image? %>
	</a>
</div>
<div class="form-group">
	<%= f.label :image, raw("<div class='required'>&#10039;</div>Главное изображение") %>
	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %>
</div>

<div class="checkbox">
	<%= f.check_box(:is_published) %>
	<%= label_tag(:services_is_published, "Публиковать") %>
</div>

<%= f.submit "Сохранить", class: "btn btn-primary" %>

