<%= render 'admin/layouts/error_messages', :object => @photo %>

<div class="form-group">
	<%= f.label :image, "Изображение" %>
	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %>
</div>

<%= image_tag(@photo.image.general.url) if @photo.image? %>

<div class="row">
	<div class="col-xs-8">
		<div class="form-group">
			<%= f.label :name, raw("<div class='required'>&#10039;</div>Название") %>
			<%= f.text_field :name, class: "form-control" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-1">
		<div class="form-group">
			<%= f.label :sort_order, "Позиция" %>
			<%= f.text_field :sort_order, class: "form-control" %>
		</div>
	</div>
</div>

<div class="checkbox">
	<%= f.check_box(:is_published) %>
	<%= label_tag(:photos_is_published, "Публиковать") %>
</div>

<%= f.submit "Сохранить", class: "btn btn-primary" %>

