<tr <% if !photo.is_published %> class="not_published" <% end %> > 
	<th style="width:100px; vertical-align:middle;">
		<%= link_to "Удалить", { action: "destroy", id: photo.id },
            method: :delete, data: { confirm: 'Вы уверены?' },
            :class => 'text-danger'  %>
	</th>
	<th style="vertical-align:middle;">
		<% if photo.album %>
			<%= photo.album.name %>
		<% end %>
	</th>
	<th style="vertical-align:middle;">
		<%= photo.name %>
	</th>
	<th style="vertical-align:middle;">
		<% if photo.service %>
			<%= photo.service.header %>
		<% end %>
	</th>
	<th class="text-center" style="vertical-align:middle;">
		<a class="fancybox" href="<%= photo.image.url if photo.image? %>">
	    	<%= image_tag photo.image.url(:thumb) %>
	    </a>
	</th>
	<th style="width:100px; vertical-align:middle;">
		<%= link_to 'Редактировать', edit_admin_photo_path(photo.id), :class => 'text-success' %>
	</th>
</tr> 