<%= render 'admin/layouts/error_messages', :object => @object %>
<div class="row">
	<div class="col-xs-8">
		<div class="form-group">
			<%= f.label :header, raw("<div class='required'>&#10039;</div>Заголовок страницы") %>
			<%= f.text_field :header, class: "form-control" %>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="form-group">
			<%= f.label :permalink, raw("<div class='required'>&#10039;</div>Путь") %>
			<%= f.text_field :permalink, class: "form-control" %>
		</div>
	</div>
</div>
<div class="form-group">
	<%= f.label :title, raw("<div class='required'>&#10039;</div>Заголовок окна") %>
	<%= f.text_field :title, class: "form-control" %>
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<%= label_tag(:objects_parent_id, "Родительский раздел") %>
			<% if(params[:parent_id].blank?) %>
				<%= f.select :parent_id, @parents.map{ |objects| [objects.header, objects.id] }.insert(0,"--"),{}, { :class => 'form-control'} %>
			<% else %>
				<%= f.select :parent_id, @parents.map{ |objects| [objects.header, objects.id] }.insert(0,"--"), { :selected => params[:parent_id] }, { :class => 'form-control'} %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<div class="form-group">
			<%= label_tag(:objects_objects_type_id, raw("<div class='required'>&#10039;</div> Тип страницы")) %>
			<%= f.select :objects_type_id, @objects_types.map{ |objects_types| [objects_types.name, objects_types.id] }.insert(0,"--"),{}, { :class => 'form-control'} %>
		</div>
	</div>
</div>

<div class="form-group">
	<%= f.label :body, raw("Описание") %>
	<%= f.text_area :body, class: "form-control summernote_initial" %>
</div>
<div class="form-group">
	<%= f.label :additional_body, raw("Дополнительное описание") %>
	<%= f.text_area :additional_body, class: "form-control summernote_initial" %>
</div>
<div class="form-group">
	<%= f.label :meta_description, raw("META Описание") %>
	<%= f.text_area :meta_description, class: "form-control" %>
</div>
<div class="form-group">
	<%= f.label :meta_keywords, raw("META Ключевые слова") %>
	<%= f.text_field :meta_keywords, class: "form-control" %>
</div>
<div class="row">
	<div class="col-xs-1">
		<div class="form-group">
			<%= f.label :sort_order, "Позиция" %>
			<%= f.text_field :sort_order, class: "form-control" %>
		</div>
	</div>
</div>

<div class="form-group">
	<a class="fancybox" href="<%= @object.image.url if @object.image? %>">
		<%= image_tag(@object.image.thumb.url) if @object.image? %>
	</a>
</div>
<div class="form-group">
	<%= f.label :image, "Изображение" %>
	<%= f.file_field :image %>
	<%= f.hidden_field :image_cache %>
</div>

<%= f.collection_check_boxes :navigation_ids, Navigations.all, :id, :description do |b| %>
	<div class="checkbox">
		<%= b.check_box %>
		<%= b.label %>
	</div>
<% end %>

<div class="checkbox">
	<%= f.check_box(:is_published) %>
	<%= label_tag(:objects_is_published, "Публиковать") %>
</div>

<%= f.submit "Сохранить", class: "btn btn-primary" %>

