<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">
			<%= image_tag("logo.jpg", height:"25", :alt => "Wedding") %>
		</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li>
				<%= link_to "Структура сайта", admin_objects_path %>
			</li>
			<li>
				<%= link_to "Услуги", admin_services_path %>
			</li>
			<li>
				<%= link_to "Слайды", admin_slides_path %>
			</li>
			<li>
				<%= link_to "Отзывы", admin_reviews_path %>
			</li>
			<li>
				<%= link_to "Клиенты", admin_clients_path %>
			</li>
			<li class="dropdown"> 
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Портфолио <span class="caret"></span>
				</a> 
				<ul class="dropdown-menu">
					<li>
						<%= link_to "Альбомы", admin_albums_path %>
					</li>
					<li>
						<%= link_to "Изображения", admin_photos_path %>
					</li>
					<li>
						<%= link_to "Видеозаписи", admin_videos_path %>
					</li>
				</ul> 
			</li>
			<li class="dropdown"> 
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Настройки <span class="caret"></span>
				</a> 
				<ul class="dropdown-menu">
					<!-- <li>
						<%= link_to "Типы объектов", admin_objects_types_path %>
					</li> -->
					<li>
						<%= link_to "Навигаторы", admin_navigations_path %>
					</li>
					<li>
						<%= link_to "Пользователи", admin_users_path %>
					</li>
				</ul> 
			</li>		
		</ul>
		<div class="nav navbar-nav navbar-right">
				<%= @oUser.title %>,
				<%= link_to "Выйти", admin_logout_path, class: "btn btn-default navbar-btn", data: { confirm: 'Вы действительно хотите выйти?' } %>
			</div>
	</div>
</nav>