<footer id="footer">
  <!-- Start Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="single-footer-widget">
            <div class="section-heading">
            <h2>Услуги</h2>
            <div class="line"></div>
          </div>
          <ul class="footer-service">
            <% @services.limit(4).each do |service| %>
              <li>
                 <%= link_to service_path(service.permalink), :class => 'button white' do %>
                    <span class="fa fa-check"></span><%= service.header %>
                 <% end %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="single-footer-widget">
            <div class="section-heading">
              <h2> </h2>
          </div>
          <ul class="footer-service">
            <% @services.offset(4).each do |service| %>
              <li>
                 <%= link_to service_path(service.permalink), :class => 'button white' do %>
                    <span class="fa fa-check"></span><%= service.header %>
                 <% end %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="single-footer-widget">
            <div class="section-heading">
            <h2>Контакты</h2>
            <div class="line"></div>
          </div>
          <address class="contact-info">
            <p><span class="fa fa-phone"></span>+7(925)202-46-26</p>
            <p><span class="fa fa-phone"></span>+7(903)965-90-90</p>
            <p><span class="fa fa-envelope"></span>irina_svadba@bk.ru</p>
            <p><span class="fa fa-vk"></span>
              <a target="_blank" href="https://new.vk.com/irina_fbr_prazdnik">Vkontakte</a>
            </p>
          </address>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <div class="single-footer-widget">
            <div class="footer-copyright">
              <p>&copy;<a href="/">Ведущая важных событий Ирина Баранова</a>, <%= Time.now.year %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>