<!DOCTYPE html>
<html lang="en">

	<%= render 'layouts/head' %>

	<%= render 'layouts/header' %>
	<body>
		<main>
			<div class="container">
				<%= yield %>
			</div>
		</main>

		<%= render 'layouts/footer' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</body>
</html>
