<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head" %>
  <body>  
    <%= render partial: "layouts/preloader" %>
    <%= render partial: "layouts/top_button" %>
    <header id="header">
      <%= render partial: "layouts/top_pannel" %>  
    </header>
  	<%= render partial: "layouts/feedback_modal" %>
    
    <%= yield :reviews_modal %> 

  	<%= yield %>				

    <%= render partial: "layouts/footer" %>

  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	</body>
</html>
